<section>
    <div class="container">
        <form class="row" (ngSubmit)="AddEmployeeForm.form.valid && onSubmit()" #AddEmployeeForm="ngForm" novalidate>

            <!-- Employee Name -->
            <div class="col-lg-6 mt-2">
                <div class="form-group">
                    <label> Employee Name </label><br>
                    <input type="text" class="form-control"
                    placeholder="Employee Name"
                    minlength="4" maxlength="25"
                    [(ngModel)]="model.EmployeeName" 
                    name="EmployeeName" 
                    #EmployeeName="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && EmployeeName.invalid }"
                    required autocomplete="off" 
                    ><br>
                    <mat-error *ngIf="EmployeeName.invalid && AddEmployeeForm.submitted && EmployeeName.errors?.required">Name is required</mat-error>
                    <mat-error *ngIf="EmployeeName.invalid && AddEmployeeForm.submitted && EmployeeName.errors?.pattern">Only letters allowed</mat-error>
                </div>
            </div>
            <!-- Employee Name -->

            <!-- Employees Code -->
            <div class="col-lg-6 mt-2">
                <div class="form-group">
                    <label> Employee Name </label><br>
                    <input type="text" class="form-control"
                    placeholder="Employee Code"
                    minlength="4"
                    [(ngModel)]="model.EmployeeCode" 
                    name="EmployeeCode" 
                    #EmployeeCode="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && EmployeeCode.invalid }"
                    required autocomplete="off" 
                    ><br>
                    <mat-error *ngIf="EmployeeCode.invalid && AddEmployeeForm.submitted && EmployeeCode.errors?.required">EmployeeCode is required</mat-error>
                    <mat-error *ngIf="EmployeeCode.invalid && AddEmployeeForm.submitted && EmployeeCode.errors?.minlength">EmployeeCode should have minimum 4 characters</mat-error>
                </div>
            </div>
            <!-- Employees Code -->

            <!-- Employee Address -->
            <div class="col-lg-12 mt-2">
                <div class="form-group">
                    <label> Employee Address </label>
                    <textarea placeholder="Employee Address" cols="15"
                    [(ngModel)]="model.address" class="form-control"
                    name="address" #address="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && address.invalid }"
                    required autocomplete="off"></textarea><br>
                    <mat-error *ngIf="address.invalid && AddEmployeeForm.submitted && address.errors?.required">address is required</mat-error>
                </div>
            </div>
            <!-- Employees Address -->
            
            <!-- Employee City -->
            <div class="col-lg-6 mt-2">
                <div class="form-group">
                    <label> Employee City </label><br>
                    <input type="text" class="form-control"
                    placeholder="Employee City"
                    [(ngModel)]="model.city" 
                    name="city" 
                    pattern="^[a-zA-Z\- ]+$"
                    #city="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && city.invalid }"
                    required autocomplete="off" 
                    ><br>
                    <mat-error *ngIf="city.invalid && AddEmployeeForm.submitted && city.errors?.required">City is required</mat-error>
                    <mat-error *ngIf="city.invalid && AddEmployeeForm.submitted && city.errors?.pattern">Incorrect city name</mat-error>
                </div>
            </div>
            <!-- Employee City -->


            <!-- Employee State -->
            <div class="col-lg-6 mt-2">
                <div class="form-group">
                    <label> Employee State </label><br>
                    <input type="text" class="form-control"
                    placeholder="Employee State"
                    pattern="^[a-zA-Z\- ]+$"
                    [(ngModel)]="model.state" 
                    name="state" 
                    #state="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && state.invalid }"
                    required autocomplete="off" 
                    ><br>
                    <mat-error *ngIf="state.invalid && AddEmployeeForm.submitted && state.errors?.required">State is required</mat-error>
                    <mat-error *ngIf="state.invalid && AddEmployeeForm.submitted && state.errors?.pattern">Incorrect state</mat-error>
                </div>
            </div>
            <!-- Employee State -->

            <!-- Employee Country -->
            <div class="col-lg-6 mt-2">
                <div class="form-group">
                    <label> Employee Country </label><br>
                    <input type="text" class="form-control"
                    placeholder="Employee Country"
                    minlength="4"
                    [(ngModel)]="model.country" 
                    name="country" 
                    #country="ngModel"
                    [ngClass]="{ 'is-invalid': AddEmployeeForm.submitted && country.invalid }"
                    required autocomplete="off"><br>
                    <mat-error *ngIf="country.invalid && AddEmployeeForm.submitted && country.errors?.required">Country is required</mat-error>
                    <mat-error *ngIf="country.invalid && AddEmployeeForm.submitted && country.errors?.minlength">Incorrect country</mat-error>
                </div>
            </div>
            <!-- Employee Country -->

            <!-- Button -->
            <div class="col-lg-12">
                <button mat-button type="submit">Submit</button>
            </div>
            <!-- Button -->

        </form>
    </div>
</section>