<div class="container">
    <!-- No data message -->
    <!-- <p  class="no-data text-center">There is no employee added yet!</p> -->
  
    <!-- Employee list -->
    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th scope="col" class="text-center">S.no</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Employee Code</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Country</th>
          <th scope="col center"> Action </th>
        </tr>
      </thead>
      <tbody *ngIf="Employee.length > 0">
        <tr *ngFor="let employee of Employee; let i = index">
          <th scope="row" class="text-center">{{i+1}}</th>
          <td>{{employee.EmployeeName}}</td>
          <td>{{employee.EmployeeCode}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.city}}</td>
          <td>{{employee.state}}</td>
          <td>{{employee.country}}</td>

          <td class="text-center">
            <button class="btn btn-success btn-sm" [routerLink]="['/User/', employee._id]" mat-button> View </button>
            <button class="btn btn-primary btn-sm" [routerLink]="['/Edit/', employee._id]" mat-button> Edit </button>
            <button (click)= "removeEmployee( employee, i )" class="btn btn-danger btn-sm " mat-button> Delete </button>
          </td>
        </tr>
      </tbody>
      <div *ngIf="Employee.length <= 0">
        <p class="w-100 text-center">There is no employee added yet!</p>
      </div>
    </table>
  </div>